
h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgb(178, 174, 174),
                 1px 2px 0px rgb(178, 174, 174),
                 1px 3px 0px rgb(178, 174, 174),
                 1px 4px 0px rgb(178, 174, 174),
                 1px 5px 0px rgb(178, 174, 174),
                 1px 6px 0px rgb(178, 174, 174),
                 1px 10px 5px grey,
                 1px 15px 10px grey,
                 1px 20px 30px grey,
                 1px 25px 50px grey;
}
.name {
    margin-bottom:0px;
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   text-shadow: 1px 2px 0px rgb(178, 174, 174);
}
li {
    list-style: none;
}

.des {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-style: italic;
}
.url {
  
    color: blue;
    padding-bottom: 10px;
    text-align: center;
    
   
}
.url:hover {
    transform: scale(1.2);
    box-shadow:  0px 20px 30px 10px black;
  background-color: white;
    border-radius:50px;
}
.box {
    border: 2px solid black;
    margin: 40px;
    margin-left: 7vw;
    box-shadow: 0 20px 30px 0 black;
    background-color: white;
    width: 30vw;
    height: 300px;
    max-width: 30vw;
    display: block;  
    float:left;
}

   .card {
   margin: 20px;
    border: 20px solid black;
    display: block;  
    float:left;
    align-items: center;
    background-color:rgb(220, 219, 219);
    justify-content: space-around;
    padding: 50px;  
    max-width: 99vw;
   }

   @media only screen and (max-width: 1250px) {
    .card {
        padding-left: 10vw;
        padding-right: 10px;
        margin-right: 40px;
       border: 20px solid black;
       display: flex;
       align-items: center;
       justify-content: center;
      
       background-color:rgb(220, 219, 219);
       justify-content: space-around;
    }
    h1 {
        font-size: 30px;
    }
    .box {
        height: fit-content;
    }
    .name {
        font-size: 14px;
    }
}

